<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_face1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,74}</string>
            </dict>
            <key>game_face10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>game_face11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>game_face12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>game_face13.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,158},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>game_face14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,78},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>game_face15.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,384},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>game_face16.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,234},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>game_face2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,80},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>game_face3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,74}</string>
            </dict>
            <key>game_face4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,230},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>game_face5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,154},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>game_face6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>game_face7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>game_face8.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>game_face9.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,308},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_face.png</string>
            <key>size</key>
            <string>{222,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:752a29f4307ce5f39140762cb536ad7f:1/1$</string>
            <key>textureFileName</key>
            <string>game_face.png</string>
        </dict>
    </dict>
</plist>
