<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_ChatPhraseBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,56},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Btn_ChatPhraseBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Btn_ChatSend.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{170,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,82}}</string>
                <key>sourceSize</key>
                <string>{170,82}</string>
            </dict>
            <key>Pic_ChatInput.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,2},{118,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,62}}</string>
                <key>sourceSize</key>
                <string>{120,64}</string>
            </dict>
            <key>Pic_ChatTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,86},{90,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{90,33}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>Pic_ChatWhiteBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{116,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pic_Phrase.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>Pic_PhraseLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>chat_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,96}}</string>
                <key>sourceSize</key>
                <string>{179,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat_img.png</string>
            <key>size</key>
            <string>{791,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb9e1d90d4f58bc20fa728419f9a49bd$</string>
            <key>textureFileName</key>
            <string>chat_img.png</string>
        </dict>
    </dict>
</plist>
