<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pic_Bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,91},{560,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{560,57}}</string>
                <key>sourceSize</key>
                <string>{560,59}</string>
            </dict>
            <key>Pic_Bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,59},{560,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{560,57}}</string>
                <key>sourceSize</key>
                <string>{560,59}</string>
            </dict>
            <key>Pic_Bar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1},{560,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{560,57}}</string>
                <key>sourceSize</key>
                <string>{560,59}</string>
            </dict>
            <key>Pic_BarText.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1},{579,89}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{579,89}}</string>
                <key>sourceSize</key>
                <string>{585,95}</string>
            </dict>
            <key>Pic_Horse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{139,126}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{139,126}}</string>
                <key>sourceSize</key>
                <string>{163,136}</string>
            </dict>
            <key>Pic_Horse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1},{137,122}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{137,122}}</string>
                <key>sourceSize</key>
                <string>{163,136}</string>
            </dict>
            <key>Pic_Horse3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1},{135,122}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{135,122}}</string>
                <key>sourceSize</key>
                <string>{163,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading_img.png</string>
            <key>size</key>
            <string>{1515,149}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10fd177191640c800e87ca67b1e7fd9e$</string>
            <key>textureFileName</key>
            <string>loading_img.png</string>
        </dict>
    </dict>
</plist>
