<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MissionTitle_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,77},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>arrow_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,72},{41,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,22}}</string>
                <key>sourceSize</key>
                <string>{41,24}</string>
            </dict>
            <key>arrow_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,77},{41,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,24}}</string>
                <key>sourceSize</key>
                <string>{41,24}</string>
            </dict>
            <key>btn_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1},{209,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{209,75}}</string>
                <key>sourceSize</key>
                <string>{209,77}</string>
            </dict>
            <key>btn_mission_reward_F.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1},{182,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,78}}</string>
                <key>sourceSize</key>
                <string>{182,78}</string>
            </dict>
            <key>btn_mission_reward_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1},{182,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,78}}</string>
                <key>sourceSize</key>
                <string>{182,78}</string>
            </dict>
            <key>btn_mission_reward_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1},{182,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,78}}</string>
                <key>sourceSize</key>
                <string>{182,78}</string>
            </dict>
            <key>btn_mission_rewarded_F.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1},{182,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,78}}</string>
                <key>sourceSize</key>
                <string>{182,78}</string>
            </dict>
            <key>btn_mission_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>btn_mission_unit_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1},{209,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{209,75}}</string>
                <key>sourceSize</key>
                <string>{209,77}</string>
            </dict>
            <key>btn_unfinished.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{209,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{209,75}}</string>
                <key>sourceSize</key>
                <string>{209,77}</string>
            </dict>
            <key>db_mrhd_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,72},{62,41}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,31},{62,41}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>jindu_bg_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,77},{255,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,35}}</string>
                <key>sourceSize</key>
                <string>{255,35}</string>
            </dict>
            <key>jindu_se_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,77},{255,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{255,33}}</string>
                <key>sourceSize</key>
                <string>{255,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mission_img.png</string>
            <key>size</key>
            <string>{1717,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99ebfb47fcd36f7f9274cd1ce3a9307f$</string>
            <key>textureFileName</key>
            <string>mission_img.png</string>
        </dict>
    </dict>
</plist>
