<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>score_coin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{41,58}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{41,58}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>score_coin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{45,56}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{45,56}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>score_coin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{59,52}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>score_coin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{53,48}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{53,48}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>score_coin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{53,52}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{53,52}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>score_coin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{61,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{61,58}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>score_coin_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{37,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{37,58}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mission_animation.png</string>
            <key>size</key>
            <string>{352,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f834eeff99a58b9fe28f7b457ff58c3d$</string>
            <key>textureFileName</key>
            <string>Mission_animation.png</string>
        </dict>
    </dict>
</plist>
