<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_Changetable_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,850},{210,113}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{210,113}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>Btn_Continue_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,638},{210,113}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{210,113}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>Btn_Fastuous_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{212,113}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{212,113}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>Btn_Hint_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{212,113}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{212,113}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>Btn_Ready_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,426},{210,113}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{210,113}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>Btn_Repartition.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{212,113}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{212,113}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>Btn_Shown_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,214},{210,113}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{210,113}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>Btn_Skip_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{212,113}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{212,113}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>Btn_bl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{212,113}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{212,113}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>Btn_ls.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{210,113}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{210,113}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>Btn_qd_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,113}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{212,113}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>operationbtn.png</string>
            <key>size</key>
            <string>{232,1187}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ff0e8e7c0ed67b74362c663e71ec1a9$</string>
            <key>textureFileName</key>
            <string>operationbtn.png</string>
        </dict>
    </dict>
</plist>
