<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UIfengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,98},{5,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,87}}</string>
                <key>sourceSize</key>
                <string>{5,87}</string>
            </dict>
            <key>bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,422},{76,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{76,106}</string>
            </dict>
            <key>buttonAddRoomCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,520},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>buttonDel.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,272},{152,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{152,96}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>buttonNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,42},{156,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{156,102}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>button_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,146},{156,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{156,56}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>csmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,174},{330,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{330,84}}</string>
                <key>sourceSize</key>
                <string>{336,84}</string>
            </dict>
            <key>csmjh.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,88},{330,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{330,84}}</string>
                <key>sourceSize</key>
                <string>{336,84}</string>
            </dict>
            <key>deleteCode.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,114},{122,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{122,70}}</string>
                <key>sourceSize</key>
                <string>{132,80}</string>
            </dict>
            <key>fangkaxiaobeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,556},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>feedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{118,74}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{118,74}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>hallshare.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,356},{124,70}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{124,70}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>hunanmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{374,106}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{374,106}}</string>
                <key>sourceSize</key>
                <string>{410,114}</string>
            </dict>
            <key>hzmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,206},{330,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{330,84}}</string>
                <key>sourceSize</key>
                <string>{336,84}</string>
            </dict>
            <key>hzmjh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{330,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{330,84}}</string>
                <key>sourceSize</key>
                <string>{336,84}</string>
            </dict>
            <key>inputPwd.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,538},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>inputbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,478},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>inputfgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,174},{2,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,4}}</string>
                <key>sourceSize</key>
                <string>{2,4}</string>
            </dict>
            <key>lookbackbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,538},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>lookother.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,550},{210,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{210,70}}</string>
                <key>sourceSize</key>
                <string>{214,74}</string>
            </dict>
            <key>message.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,344},{76,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{76,106}</string>
            </dict>
            <key>minussign.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,498},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{330,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{330,84}}</string>
                <key>sourceSize</key>
                <string>{336,84}</string>
            </dict>
            <key>msg_count_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,582},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>myroom_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,370},{108,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,126}}</string>
                <key>sourceSize</key>
                <string>{110,126}</string>
            </dict>
            <key>myroom_bottom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{280,38}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,38}}</string>
                <key>sourceSize</key>
                <string>{286,38}</string>
            </dict>
            <key>myroom_bottom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,448},{28,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{28,70}}</string>
                <key>sourceSize</key>
                <string>{30,74}</string>
            </dict>
            <key>myroom_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,450},{108,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{108,70}}</string>
                <key>sourceSize</key>
                <string>{110,74}</string>
            </dict>
            <key>myroom_started.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,272},{108,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{108,70}}</string>
                <key>sourceSize</key>
                <string>{110,74}</string>
            </dict>
            <key>myroom_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,174},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>playerInfo002.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,370},{56,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,130}}</string>
                <key>sourceSize</key>
                <string>{56,130}</string>
            </dict>
            <key>playerInfoInputBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,272},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>playerframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,498},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>promo.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,344},{76,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{76,106}</string>
            </dict>
            <key>promoCopy.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,558},{56,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>promoHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,500},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>promoInput.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,500},{56,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>promo_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,94}}</string>
                <key>sourceSize</key>
                <string>{390,94}</string>
            </dict>
            <key>rankbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,482},{54,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{54,96}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>rankfgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,622},{2,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,8}}</string>
                <key>sourceSize</key>
                <string>{2,8}</string>
            </dict>
            <key>rankinfobgr.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,198},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>rankinfobgw.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,186},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>ranklook.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,590},{68,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,34}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>rankshare.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,590},{66,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,34}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>ranscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{330,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{330,84}}</string>
                <key>sourceSize</key>
                <string>{336,84}</string>
            </dict>
            <key>record_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,338},{4,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,8}}</string>
                <key>sourceSize</key>
                <string>{4,8}</string>
            </dict>
            <key>record_wings.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,506},{82,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,24}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>resetnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,174},{152,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{152,96}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>reviewButtonNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,264},{126,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{126,76}}</string>
                <key>sourceSize</key>
                <string>{132,80}</string>
            </dict>
            <key>reviewCodeOk.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,42},{122,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{122,70}}</string>
                <key>sourceSize</key>
                <string>{132,80}</string>
            </dict>
            <key>settingQuit.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,538},{254,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{254,86}}</string>
                <key>sourceSize</key>
                <string>{290,100}</string>
            </dict>
            <key>shangchengdh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,502},{80,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,342},{76,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{76,106}</string>
            </dict>
            <key>tipcopybutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,204},{162,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{162,58}}</string>
                <key>sourceSize</key>
                <string>{170,60}</string>
            </dict>
            <key>zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,186},{108,84}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{108,84}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>zzmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{330,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{330,84}}</string>
                <key>sourceSize</key>
                <string>{336,84}</string>
            </dict>
            <key>zzmjh.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{330,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{330,84}}</string>
                <key>sourceSize</key>
                <string>{336,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1008,626}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd4cf18d2aa642d966918bf2e6e96c01$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
