<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shangchengdh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>shangchengdh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,182},{54,52}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{54,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>shangchengdh4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{80,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>shangchengdh5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,94},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{68,38}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>shangchengdh6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{70,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{70,34}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>shangchengdh7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{66,48}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,48}}</string>
                <key>sourceSize</key>
                <string>{72,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shangchengdh.png</string>
            <key>size</key>
            <string>{128,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf368f89e15825893792b9e3f79f702f:132de2ab9a0123c0130259badd9de8b5:1e8aa091684fa02c132f00925c1d8040$</string>
            <key>textureFileName</key>
            <string>shangchengdh.png</string>
        </dict>
    </dict>
</plist>
