<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ApplyDissolutionRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,324},{242,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{242,44}}</string>
                <key>sourceSize</key>
                <string>{250,46}</string>
            </dict>
            <key>BeiShu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,114},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{126,36}</string>
            </dict>
            <key>CJFJAnNiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,56},{294,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,95}}</string>
                <key>sourceSize</key>
                <string>{294,95}</string>
            </dict>
            <key>CJFJBiaoaTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,787},{171,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,46}}</string>
                <key>sourceSize</key>
                <string>{171,46}</string>
            </dict>
            <key>CJFJDiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,688},{75,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>DiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{640,97}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,97}}</string>
                <key>sourceSize</key>
                <string>{640,103}</string>
            </dict>
            <key>DiBan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,809},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>DiBan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,972},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>DiBan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,387},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>DuiGuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,56},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>DuiKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,765},{39,39}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{39,39}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>FanHuiAnNiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,905},{66,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,59}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>GameSetingBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,377},{250,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,210}}</string>
                <key>sourceSize</key>
                <string>{250,210}</string>
            </dict>
            <key>GameSetingBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,155},{368,220}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,220}}</string>
                <key>sourceSize</key>
                <string>{370,220}</string>
            </dict>
            <key>GameSetingText.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,972},{98,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{100,46}</string>
            </dict>
            <key>HuoPingWanFa.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,212},{273,110}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{273,110}}</string>
                <key>sourceSize</key>
                <string>{281,126}</string>
            </dict>
            <key>HuoPingWanFa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,555},{230,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,102}}</string>
                <key>sourceSize</key>
                <string>{230,102}</string>
            </dict>
            <key>JiXiuYouXi.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,526},{236,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{236,76}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>JieSanYouXi.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,555},{235,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,76}}</string>
                <key>sourceSize</key>
                <string>{235,76}</string>
            </dict>
            <key>JingDianWanFa.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,155},{230,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,102}}</string>
                <key>sourceSize</key>
                <string>{230,102}</string>
            </dict>
            <key>JingDianWanFa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{273,110}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{273,110}}</string>
                <key>sourceSize</key>
                <string>{281,126}</string>
            </dict>
            <key>JuShu.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,957},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>JuanZhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{168,495}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,495}}</string>
                <key>sourceSize</key>
                <string>{168,495}</string>
            </dict>
            <key>KeXuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1018},{67,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,36}}</string>
                <key>sourceSize</key>
                <string>{67,36}</string>
            </dict>
            <key>PengYuoQuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,835},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>RenShu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,242},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>TipTextBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,921},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{148,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>TipTextBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,966},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>TipTitleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,589},{360,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{360,90}}</string>
                <key>sourceSize</key>
                <string>{366,92}</string>
            </dict>
            <key>XingXiDiBian.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,589},{301,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,46}}</string>
                <key>sourceSize</key>
                <string>{301,46}</string>
            </dict>
            <key>XingXing.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,370},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>XuanDian.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1031},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>XuanKang.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1031},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>btn_ApplyDissolutionRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,114},{288,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{288,96}}</string>
                <key>sourceSize</key>
                <string>{290,100}</string>
            </dict>
            <key>btn_DissolutionRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,526},{236,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{236,76}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,951},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_gobackhall.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,526},{236,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{236,76}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,792},{178,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{178,70}}</string>
                <key>sourceSize</key>
                <string>{180,72}</string>
            </dict>
            <key>buttonCancel_.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,546},{236,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{236,76}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>button_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,448},{236,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{236,76}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>button_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,370},{236,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{236,76}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>button_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,571},{236,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{236,76}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>chartbg_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,652},{414,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,104}}</string>
                <key>sourceSize</key>
                <string>{414,104}</string>
            </dict>
            <key>chartbg_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{414,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,104}}</string>
                <key>sourceSize</key>
                <string>{414,104}</string>
            </dict>
            <key>chartframebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,835},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>chatpp_ld.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,324},{192,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,69}}</string>
                <key>sourceSize</key>
                <string>{192,69}</string>
            </dict>
            <key>chatpp_lu.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,764},{192,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,69}}</string>
                <key>sourceSize</key>
                <string>{192,69}</string>
            </dict>
            <key>chatpp_rd.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,352},{192,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,69}}</string>
                <key>sourceSize</key>
                <string>{192,69}</string>
            </dict>
            <key>chatpp_ru.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,377},{192,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,69}}</string>
                <key>sourceSize</key>
                <string>{192,69}</string>
            </dict>
            <key>facewline_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,571},{2,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,4}}</string>
                <key>sourceSize</key>
                <string>{2,4}</string>
            </dict>
            <key>facewline_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,56},{4,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,2}}</string>
                <key>sourceSize</key>
                <string>{4,2}</string>
            </dict>
            <key>inputbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,589},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>kick_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,518},{168,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{168,66}}</string>
                <key>sourceSize</key>
                <string>{172,70}</string>
            </dict>
            <key>labelbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,784},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>music_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,966},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>music_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,995},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,589},{370,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,40}}</string>
                <key>sourceSize</key>
                <string>{370,40}</string>
            </dict>
            <key>progress_con.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,589},{356,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,30}}</string>
                <key>sourceSize</key>
                <string>{356,30}</string>
            </dict>
            <key>sex_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,892},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>sex_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,947},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>sound_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,957},{58,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>sound_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,957},{58,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>tishi_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{792,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,52}}</string>
                <key>sourceSize</key>
                <string>{792,52}</string>
            </dict>
            <key>touz1i.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,961},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>touzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,765},{68,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,835},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wxShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,792},{178,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{178,70}}</string>
                <key>sourceSize</key>
                <string>{180,72}</string>
            </dict>
            <key>xiaolaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1027},{42,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,30}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1071,1071}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:347c4d4117ff4f76673f4f37ff03387d$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
