<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,94},{136,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,32}}</string>
                <key>sourceSize</key>
                <string>{140,32}</string>
            </dict>
            <key>btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,32},{70,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{70,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>card_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{120,153}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,153}}</string>
                <key>sourceSize</key>
                <string>{122,155}</string>
            </dict>
            <key>card_thrown.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1},{80,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{80,106}}</string>
                <key>sourceSize</key>
                <string>{82,110}</string>
            </dict>
            <key>catch points_opposite.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1},{136,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{136,30}}</string>
                <key>sourceSize</key>
                <string>{140,32}</string>
            </dict>
            <key>catch points_own.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1},{136,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{136,30}}</string>
                <key>sourceSize</key>
                <string>{140,32}</string>
            </dict>
            <key>img_box_inside.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>img_box_inside_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>img_box_integral.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1},{102,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{102,92}}</string>
                <key>sourceSize</key>
                <string>{108,96}</string>
            </dict>
            <key>img_box_integral_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1},{102,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{102,92}}</string>
                <key>sourceSize</key>
                <string>{108,96}</string>
            </dict>
            <key>imgcoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,32},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>imgcoin_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,32},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{944,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd93167e8821c2af0a73d72ae2d825ec$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
