<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beated_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1120},{116,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>beated_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1185},{116,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>beated_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1088},{116,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>beated_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1003},{116,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>beated_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1072},{116,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>beated_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1003},{116,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>beated_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,971},{116,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>beated_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1},{146,128}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{146,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>beated_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{150,138}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{150,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>beated_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,267},{122,120}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{122,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>beated_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,886},{116,112}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>beated_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,886},{116,112}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>beated_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,729},{116,120}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{116,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>beated_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,261},{116,128}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{116,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>beated_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,959},{116,112}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cool_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1550},{114,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cool_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1467},{114,112}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cool_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1550},{114,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cool_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1524},{114,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cool_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1435},{114,112}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cool_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1352},{114,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cool_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1411},{114,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cool_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1320},{114,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cool_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1237},{114,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cool_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,854},{116,112}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cool_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,767},{118,112}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{118,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cool_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,644},{122,112}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{122,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cool_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,610},{126,112}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{126,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cool_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1298},{114,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cry_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,140},{126,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{126,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cry_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,376},{120,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{120,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cry_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1},{138,132}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{138,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>cry_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,130},{134,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{134,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>embarrassed_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,388},{114,128}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{114,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>embarrassed_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,378},{114,128}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{114,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>en_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1812},{114,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>en_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1776},{114,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>en_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1697},{114,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>en_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1191},{114,108}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,25},{114,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>en_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1205},{114,112}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>en_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1076},{114,108}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,24},{114,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>en_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1766},{114,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>en_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1748},{114,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>en_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,737},{114,116}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{114,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>en_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1665},{114,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>en_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,846},{114,106}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{114,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hurt_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1582},{114,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hurt_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1582},{114,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hurt_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1582},{114,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hurt_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1651},{114,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hurt_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,259},{116,128}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{116,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hurt_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,612},{120,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{120,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hurt_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,134},{124,126}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{124,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hurt_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,961},{114,108}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{114,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hurt_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,961},{114,108}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{114,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hurt_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,961},{114,108}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{114,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>innocent_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,497},{114,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{114,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>innocent_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,517},{114,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{114,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>loser_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1637},{114,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>loser_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1536},{114,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>loser_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1637},{114,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>loser_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1421},{114,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>loser_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1306},{114,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>loser_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1637},{114,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sexy_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,846},{116,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sexy_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,493},{116,124}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{116,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>facial.png</string>
            <key>size</key>
            <string>{453,1927}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d91d3cded68dc349af13777d8ebc1e15$</string>
            <key>textureFileName</key>
            <string>facial.png</string>
        </dict>
    </dict>
</plist>
