<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_DownMenu_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,671},{94,83}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,83}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>Btn_DownMenu_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,553},{94,83}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,83}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>Btn_Help_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,240},{38,57}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{38,57}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>Btn_Menu_Exit_Forbid.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,735},{56,53}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{56,53}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>Btn_Menu_Exit_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,419},{56,53}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{56,53}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>Btn_Menu_Help_Forbid.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,182},{38,57}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{38,57}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>Btn_Menu_Host_Forbid.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,789},{54,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{54,59}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>Btn_Menu_Host_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,842},{54,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{54,59}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>Btn_Menu_Setting_Forbid.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,361},{56,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{56,57}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>Btn_Menu_Setting_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,404},{56,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{56,57}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>Btn_Menu_Share_Forbid.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,839},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{54,53}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>Btn_Menu_Share_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,789},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{54,53}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>Btn_UpMenu_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,556},{94,83}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,83}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>Btn_UpMenu_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,671},{94,83}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,83}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>Btn_jp_Forbid.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,844},{60,49}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{60,49}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>Btn_jp_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,789},{60,49}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{60,49}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>Pic_MenuLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,648},{14,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,65}}</string>
                <key>sourceSize</key>
                <string>{14,65}</string>
            </dict>
            <key>Pic_Word_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,452},{20,22}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Pic_wjls.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1},{287,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{287,52}}</string>
                <key>sourceSize</key>
                <string>{293,62}</string>
            </dict>
            <key>basicscore_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,465},{110,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,90}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,849},{76,69}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,69}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>btn_function.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,651},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>btn_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,849},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>cancel_hosting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,526},{394,56}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{394,56}}</string>
                <key>sourceSize</key>
                <string>{408,62}</string>
            </dict>
            <key>card_shown.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,894},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,272},{179,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,96}}</string>
                <key>sourceSize</key>
                <string>{179,96}</string>
            </dict>
            <key>game_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,576},{92,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{92,94}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>img_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1},{270,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{270,270}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>img_box_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,766},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>img_box_main_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,477},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>news1.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,648},{86,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{86,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>news2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,298},{62,56}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{62,56}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>pic_MenuBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1},{468,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{468,94}}</string>
                <key>sourceSize</key>
                <string>{470,100}</string>
            </dict>
            <key>pic_NoBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,470},{428,60}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{428,60}}</string>
                <key>sourceSize</key>
                <string>{460,72}</string>
            </dict>
            <key>pic_fks.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,843},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>pic_found1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{524,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{524,48}}</string>
                <key>sourceSize</key>
                <string>{528,62}</string>
            </dict>
            <key>pic_hts.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,473},{44,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>pic_intrust.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,470},{378,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{378,52}}</string>
                <key>sourceSize</key>
                <string>{384,62}</string>
            </dict>
            <key>pic_jcf.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,289},{187,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,44}}</string>
                <key>sourceSize</key>
                <string>{187,44}</string>
            </dict>
            <key>pic_liangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,738},{94,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{94,50}}</string>
                <key>sourceSize</key>
                <string>{106,54}</string>
            </dict>
            <key>pic_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,766},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
            <key>pic_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,272},{163,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{163,131}}</string>
                <key>sourceSize</key>
                <string>{167,133}</string>
            </dict>
            <key>pic_ranking1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,404},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>pic_ranking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,565},{60,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,103}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>pic_ranking3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,452},{60,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,103}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>pic_ranking4.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,461},{60,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,103}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>pic_signal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,899},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,18}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>pic_signal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,518},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,18}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>pic_signal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,870},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,18}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>pic_signal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,843},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,18}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>pic_timebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1},{180,33}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{180,33}}</string>
                <key>sourceSize</key>
                <string>{220,33}</string>
            </dict>
            <key>text_matching_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,899},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_img.png</string>
            <key>size</key>
            <string>{508,923}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23991b46795804b4a669b41b0ef86ab8$</string>
            <key>textureFileName</key>
            <string>game_img.png</string>
        </dict>
    </dict>
</plist>
